@import "tailwindcss";

/* Default font family */
* {
  font-family: var(--font-instrument-sans), sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}